* {
  text-align: center;
  font-family: sans-serif;
}

body {
  width: 960px;
  margin: 0 auto;
}

div {
  width: 60%;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 20%;
  box-shadow: 2px 2px 2px grey;
  padding: 10px;
}

section {
  width: 60%;
  margin: 0 auto;
}

section::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

p {
  width: inherit;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 20%;
  box-shadow: 2px 2px 2px grey;
  padding: 10px;
}

#removeMe {
  float: right;
}
